
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Beyond The Playroom</title>


    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<section>
  <div class="parallax-window" data-speed="0.2" data-parallax="scroll" data-image-src="assets/1.jpg">
     <span class="tx">Summer Camp</span>
  </div>
</section>
<section>
	<div class="content_block">
		<div class="center">
			<h1 style="font-family: Comic Sans MS, cursive, sans-serif">Integrating Therapy Into Fun Outdoor Activities!</h1>
			<h3>Weekly Activities</h3>
			<div class="table-responsive">
				<table class="table table-bordered table-condensed">
					<tr class="h3">
						<th>MONDAY</th>
						<th>TUESDAY</th>
						<th>WEDNESDAY</th>
						<th>THURSDAY</th>
						<th>FRIDAY</th>
					</tr>
					<tr>
						<td>Expressive Arts in the Park</td>
						<td>Hiking</td>
						<td>Equine Therapy</td>
						<td>Science</td>
						<td>Field Trip</td>
					</tr>
				</table>				
			</div>
			<div>
				<h3>Session Schedule</h3>
				<div class="table-responsive">
					<table class="table table-bordered table-condensed">
						<tr class="h3">
							<th>Session 1</th>
							<td>May 31 - June 3 (No May 30)</td>
							<th>Session 6</th>
							<td>July 5 - 8 (No July 4)</td>
						</tr>
						<tr class="h3">
							<th>Session 2</th>
							<td>June 6 - June 10</td>
							<th>Session 7</th>
							<td>July 11 - July 15</td>
						</tr>
						<tr class="h3">
							<th>Session 3</th>
							<td>June 13 - June 17</td>
							<th>Session 8</th>
							<td>July 18 - July 22</td>
						</tr>
						<tr class="h3">
							<th>Session 4</th>
							<td>June 20 - June 24</td>
							<th>Session 9</th>
							<td>July 25 - July 29</td>
						</tr>
						<tr class="h3">
							<th>Session 5</th>
							<td>June 27 - July 1</td>
							<th>Session 10</th>
							<td>August 1 - August 5</td>
						</tr>
					</table>
				</div>
				<button type="button" class="btn-lg" data-toggle="modal" data-target="#myModal">Apply Here!</button>
			</div>			
		</div>		
	</div>
</section>
<!-- <section>
  <div class="parallax-window" data-speed="0.8" data-parallax="scroll" data-image-src="assets/3.jpg">
     <span style="position:absolute; top: 100px; left: 400px;"></span>
  </div>
</section> -->
<div class="content_block">
  <div class="center">
    <h3>What To Bring</h3>
	<h4>Sunscreen, diapers & wipes (if necessary), sack lunch, water bottle, change of clothes.</h4>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>